.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  /* gap: 20px;   */
}

div {
  border: 2px blue solid;
  width: 100%;
  height: 100%;
  text-align: center;
}
